link(rel='stylesheet', href='/stylesheets/footer.css')

footer.container-fluid
    .row
        .col-sm-3
            .section-logo
                p.title Logo
                p.infos Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
        .col-sm-2.table
            p.title Carte du monde
            p.data Amérique du Nord
            p.data Amérique du Sud
            p.data Afrique
            p.data Europe
            p.data Asie
            p.data Océanie
        .col-sm-2.table
            p.title Classement
            p.data Continent
            p.data Pays
            p.data Années
            p.data Articles
        .col-sm-2.table
            p.title Statistiques
            p.data 2019
            p.data 2018
            p.data 2017
            p.data 2016
            p.data 2015  
        .col-sm-3
            .contact
                p.title Contact
                p.data 123 rue lorem lipsum Paris, France
                p.data lorem@gmail.com
                p.data +33 7 00 00 00 00
                input(type="text", placeholder="Saisir votre adresse mail")
                a(class='btn btn-primary' href='/mail') >
    .row.legal-notice
        a(class='btn' href='/legal-notice') Mentions légales - © 2019 Copyright
