extends layout

block content
  link(rel='stylesheet', href='/stylesheets/help.css')

  .col-md-12.Trac-4120 
    .container
      .row.col-md-12.alignCenterDiv
        .col-md-5.divHarassment
          hr.Rectangle-283 
          h2.Que-faire-en-cas-de-harclement Que faire en cas d'harcèlement ?
          p.txt-que-faire-en-cas-harcelement Le harcèlement est la répétition de propos et de comportements ayant pour but ou effet une dégradation des conditions de vie de la victime. Cela se traduit par des conséquences sur la santé physique ou mentale de la personne harcelée.
          a.btn-Contact-us.btn.btn-primary(class='button', href='https://www.nonauharcelement.education.gouv.fr') Contactez nous
        .col-md-6
          a(alt='' href='https://www.nonauharcelement.education.gouv.fr')
            img.imgHelp(src="images/helpSite.png")
          hr.border-bottom-left