extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  .content
    .row
      .col-md-12.backgroundImg
        

  script(type='module', src='/javascripts/index.js')
