extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  .content
    .row
      .col-md-12
        img(src='images/background.png')
       
  
  #map

  script(type='module', src='/javascripts/index.js')
