extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  #synopsis.content
    .synopsis
      .line
      h3.title Cyber Harcèlement
      p C’est un acte agressif utilisant différentes formes de communication électronique pour menacer, insulter de manière intentionnelle et répétitive une victime.
      a(class='btn btn-primary' href='/help') En savoir plus

  .content
    .presentation
      .row
        .col-sm-12
          p.text-center.title #CYBERHARCELEMENT
      .row
        .col-sm-12
          p.text-center.issue Les causes du Cyber Harcèlement
      .row
        .col-sm-12
          p.text-center.answer C’est un acte agressif utilisant différentes formes de communication électronique pour menacer, insulter de manière intentionnelle et répétitive une victime.
      .row.cards
        .offset-sm-3
        .col-sm-2
          .card.text-center
            img(src="images/world.png", alt="logo", width="50")
            p.title-card Carte du monde
            p.infos Lorem ipsum dolor sit amet, consectetur interdum lacinia fermentum, maecenas quam velit, mollis id massa et efficitur posuere.
            a(class='btn btn-link' href='/map') En savoir plus
        .col-sm-2
          .card-special.text-center
            img(src="images/discussion.png", alt="logo", width="50")
            p.title-card Harcèlement scolaire
            p.infos Lorem ipsum dolor sit amet, consectetur interdum lacinia fermentum, maecenas quam velit, mollis id massa et efficitur posuere.
            a(class='btn btn-link' href='/help') En savoir plus
        .col-sm-2.text-center
          .card
            img(src="images/world.png", alt="logo", width="50")
            p.title-card Harcèlement moral
            p.infos Lorem ipsum dolor sit amet, consectetur interdum lacinia fermentum, maecenas quam velit, mollis id massa et efficitur posuere.
            a(class='btn btn-link' href='/help') En savoir plus
        .offset-sm-3

    #map
      .map-image
        img(src="images/map.png", alt="map", width="750")
      .map
        p.hashtag Cyber Harcèlement
        p.title Carte du monde
        p.infos Lorem ipsum dolor sit amet, consectetur adipiscing elit, nunc interdum lacinia fermentum, maecenas quam velit, mollis id massa et efficitur posuere odio fusce vel libero mi cras at nisi tempor ex feugiat finibus quis id nulla vestibulum.
        a(class='btn btn-primary' href='/map') Découvrir la carte

    #news
      .news
        p.title Acualités
        p IMAGES.
        p Navigation

    #harassment
      .harassment.row
        .col-sm-6.block-infos
          .line
          p.title Que faire en cas de harcèlement ?
          p.infos Le harcèlement est la répétition de propos et de comportements ayant pour but ou effet une dégradation des conditions de vie de la victime. Cela se traduit par des conséquences sur la santé physique ou mentale de la personne harcelée.
          a(class='btn btn-primary' href='/help') Nous contacter
        .col-sm-6
          img(src="images/harassment-computer.png", alt="harassment")

    #evolution
      .evolution.row
        .col-sm-6.text-center
          img(src="images/evolution.png", alt="evolution")
        .col-sm-6.block-evolution
          p.hashtag Cyber Harcèlement
          p.title Évolution du cyberharcèlement
          p.infos Lorem ipsum dolor sit amet, consectetur adipiscing elit, nunc interdum lacinia fermentum, maecenas quam velit, mollis id massa et efficitur posuere odio fusce vel libero mi cras at nisi tempor ex feugiat finibus quis id nulla vestibulum.
          a(class='btn btn-primary' href='/stats') Découvrir les statistiques

    #ranking
      .ranking.row
        .col-sm-6.block-infos
          .line
          p.title Classement du cyberharcèlement
          p.infos Lorem ipsum dolor sit amet, consectetur adipiscing elit, nunc interdum lacinia fermentum, maecenas quam velit, mollis id massa et efficitur posuere odio fusce vel libero mi cras at nisi tempor ex feugiat finibus quis id nulla vestibulum.
          a(class='btn btn-primary' href='/ranking') Découvrir le classement
        .col-sm-6.text-center
          img(src="images/ranking.gif", alt="ranking")



  script(type='module', src='/javascripts/index.js')
