extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  .content
    .row
      .col-md-12.text-center
        h1= title
        p Welcome to #{description}
  
  #map

  script(src='/javascripts/index.js')
