extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  include home.pug
  include map.pug

  script(type='module', src='/javascripts/index.js')
  script(type='module', src='/javascripts/ranking.js')
