extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  #synopsis.content
    .synopsis
      .line
      h3.title Harcèlement
      p Le harcèlement ne cesse d'augmenter ces derniers années, cependant tous les pays ne parlent pas de cette problématique...
      a(class='btn btn-primary' href='/help') En savoir plus

  .content
    .presentation
      .row
        .col-sm-12
          p.text-center.title #HARCELEMENT
      .row
        .col-sm-12
          p.text-center.issue Les caractéristiques du harcèlement
      .row
        .col-sm-12
          p.text-center.answer C’est un acte agressif utilisant différentes formes de communication électronique pour menacer, insulter de manière intentionnelle et répétitive une victime.
      .row.cards
        .offset-sm-3
        .col-sm-2
          .card.text-center
            <i class="far fa-angry fa-card"></i>
            p.title-card La violence
            p.infos Rapport de force et de domination entre une ou plusieurs personne et une ou plusieurs victime.
            a(class='btn btn-link' href='https://www.gouvernement.fr/action/la-lutte-contre-le-harcelement-et-les-violences-en-milieu-scolaire' target="_blank") En savoir plus
        .col-sm-2
          .card-special.text-center
            <i class="fas fa-infinity fa-card-plus"></i>
            p.title-card La répetitivité
            p.infos Agressions qui se répètent régulièrement durant une longue période.
            a(class='btn btn-link' href='http://www.i-share.fr/actualite/le-harcelement-scolaire-quen-est-il-en-2018' target="_blank") En savoir plus
        .col-sm-2.text-center
          .card
            <i class="far fa-user-circle fa-card"></i>
            p.title-card L'isolement
            p.infos La victime est souvent isolée, plus petite, faible physiquement, et dans l'incapacité de se défendre.
            a(class='btn btn-link' href='http://www.officiel-prevention.com/protections-collectives-organisation-ergonomie/psychologie-du-travail/detail_dossier_CHSCT.php?rub=38&ssrub=163&dossid=403' target="_blank") En savoir plus
        .offset-sm-3

    #map
      .map-image
        img(src="images/map.png", alt="map", width="750")
      .map
        p.hashtag Niveau mondial
        p.title Carte du monde
        p.infos À travers cette date visualisation en forme de carte, découvrez les pays qui abordent plus ou moins la problématique du harcèlement ainsi que les articles qui y correspondent.
        a(class='btn btn-primary' href='/map') Découvrir la carte
        |
        |
        a(class='btn btn-light btn-ranking' href='/ranking') Classement

    #news
      .news
        p.hashtag Cyber Harcèlement
        p.title Actualités
      .container
        .row
          .col-sm-3.text-center
            .news-card.news-card-0
          .col-sm-3.text-center
            .news-card.news-card-1
          .col-sm-3.text-center
            .news-card.news-card-2
          .col-sm-3.text-center
            .news-card.news-card-3
    
    #harassment
      .harassment.row
        .col-sm-6.block-infos
          .line
          p.title Que faire en cas de harcèlement ?
          p.infos Victime de harcèlement ? Il n'est pas toujours facile de parler ou de demander de l'aide pour sortir d'une situation compliquée, voir dangereuse. Pour autant, la prise en charge des victimes de harcèlement se développe de plus en plus avec l'existance, dans chaque département de France, de dispositifs de soutiens et d'assistances.
          a(class='btn btn-primary' href='/help') Besoin d'aide ?
        .col-sm-6
          img(src="images/harassment-computer.png", alt="harassment")

    #evolution
      .evolution.row
        .col-sm-6.text-center
          img(src="images/evolution.png", alt="evolution")
        .col-sm-6.block-evolution
          p.hashtag Une évolution constante
          p.title Évolution du harcèlement
          p.infos La harcèlement est en constante augmentation depuis ces derniers années. Découvrez à travers ces statistiques l'évolution du harcèlement sur 5 années. Les résultats sont surprenants.
          a(class='btn btn-primary' href='/stats') En savoir plus

    #ranking
      .ranking.row
        .col-sm-6.block-infos
          .line
          p.title Classement du harcèlement
          p.infos La harcèlement est présent dans la plupart des pays du monde entier. Découvrez quel pays en parle le plus et quel pays en parle le moins entre un interval de date défini grâce à un filtrage.
          a(class='btn btn-primary' href='/ranking') Découvrir le classement
        .col-sm-6.text-center
          img(src="images/ranking.gif", alt="ranking")

  script(type='module', src='/javascripts/index.js')
