extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  .content
    .row
      .col-md-12.backgroundImg
        .col-md-12.text-center.bannerSentence
          p.bannerTxt "Plus de 200 millions de mort dans le monde, il est temps d'agir"
  
  #map

  script(type='module', src='/javascripts/index.js')
