doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/ressources/leaflet/leaflet.css')
    link(rel='stylesheet', href='/ressources/leaflet/leaflet.css')
    link(rel='stylesheet', href='/ressources/leaflet/MarkerCluster.Default.css')

    script(src='/ressources/leaflet/leaflet.js')
    script(src='/ressources/leaflet/leaflet.markercluster.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD5z3f5zjahhXS9ysxTzvmx3wOYVBrEmNw')

  body

  block main
  .content
      nav.row
        .col-md-2
          a(href='/') Accueil
        .col-md-2
          a(href='/') Carte
        .col-md-2
          a(href='/ranking') Classement

  block content