extends layout

block content
  link(rel='stylesheet', href='/stylesheets/map.css')

  .row.content

    .col-md-2.filter
      .title
        p Filtre de recherche
      .period
        p Période
        input#dateStart(type='date')
        input#dateEnd(type='date')
      .select
        select#continents
          option(value='0' selected disabled) Choisir un continent
          option(value='usa') Amérique
          option(value='europe') Europe
        select#countries
          option(value='0' selected disabled hidden) Choisir un pays
          each country, index in tabCountries ? tabCountries : ['vide']
            option(value='index') country.name
        .submit
          button(type='button' class='btn btn-primary' id='submit-interval-date') Valider

    .col-md-10
      #map

  script(type='module', src='/javascripts/map.js')
