extends layout

block content
  link(rel='stylesheet', href='/stylesheets/map.css')

  .row.content

    .col-md-2.filter
      .title
        p Filtre de recherche
        form(method='POST' action='/map')#filterForm
          div.form-group
            select#years
              option(value='0' selected disabled) Choisir une année
              option(value='2019') 2019
              option(value='2018') 2018
              option(value='2017') 2017
              option(value='2016') 2016
              option(value='2015') 2015
          div.form-group
            select#countries
              option(value='0' selected disabled) Choisir un pays
              option(value='FR') France
              option(value='US') New York
              option(value='sanfrancisco') San Francisco
              option(value='GB') United Kingdom
              option(value='BE') Belgique
              option(value='DE') Germany
              option(value='IT') Italy
          button.btn.btn-primary#btnSubmit(type='button') Valider

    .col-md-10
      #map

  script(type='module', src='/javascripts/map.js')
