link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/menu.css')

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

nav.navbar.navbar-default.backgroundMenu 
    .container-fluid
        .navbar-header
            a.linkMenu(href='/'): img.logo(src='images/logo.png')
        ul.nav.navbar-nav.ulMenu
            li.menuItems
                a.linkMenu(href='/') Accueil
            li.menuItems
                a.linkMenu(href='/map') Carte du monde
            li.menuItems
                a.linkMenu(href='/ranking') Classement
            li.menuItems
                a.linkMenu(href='/stats') Statistiques
            li.menuItems
                a.linkMenu.helpButton(href='/help') Besoin d'aide
