link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/menu.css')

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            img.logo(src='images/shield.png')
        ul.nav.navbar-nav.ulMenu
            li
                a.linkMenu(href='/') Accueil
            li
                a.linkMenu(href='/map') Carte du monde
            li
                a.linkMenu(href='/ranking') Classement
            li
                a.linkMenu(href='/stats') Statistiques
            li
                a.linkMenu(href='/help') Besoin d'aide
