link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/menu.css')

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


nav.navbar.navbar-default.backgroundMenu 
    .container-fluid
        .navbar-header
            a.linkMenu(href='/'): img.logo(src='images/logo.png')
        ul.nav.navbar-nav.ulMenu
            li.menuItems
            if root == 'accueil'
                a.linkMenu.active(href='/') Accueil
            else
                a.linkMenu(href='/') Accueil
            li.menuItems
            if root == 'map'
                a.linkMenu.active(href='/map') Carte du monde
            else
                a.linkMenu(href='/map') Carte du monde
            li.menuItems
            if root == 'ranking'
                a.linkMenu.active(href='/ranking') Classement
            else
                a.linkMenu(href='/ranking') Classement
            li.menuItems
            if root == 'stats'
                a.linkMenu.active(href='/stats') Statistiques
            else
                a.linkMenu(href='/stats') Statistiques
            li.menuItems
            if root == 'help'
                a.linkMenu.active(href='/help') Besoin d'aide
            else
                a.linkMenu(href='/help') Besoin d'aide
