link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/menu.css')

nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            img.logo(src='images/shield.png')
        ul.nav.navbar-nav
            li.liMenu
                a.linkMenu(href='/') Accueil
            li.liMenu
                a.linkMenu(href='/') Carte du monde
            li.liMenu
                a.linkMenu(href='/') Classement
            li.liMenu
                a.linkMenu(href='/') Statistiques
            li.liMenu
                a.linkMenu(href='/') Besoin d'aide
            li.liMenu
                a.linkMenu(href='/') Contact
    
              

block content

