extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ranking.css')

  .container
    .row
      .col-sm-3
        #filtre
          .title
            p Filtre de recherche

          .date
            p Interval de date
            input(type="date" id='date-start')
            input(type="date" id='date-end')

          .order
            p Ordre
            label Croissant 
              input(type="radio" name="order" id='asc' checked)
            label Décroissant 
              input(type="radio" name="order" id='desc')
            
          .submit
            button(type='button' class='btn btn-primary' id='submit-interval-date') Valider

      .col-sm-9
        #ranking.container
          .row.first-place.podium
            .col-sm-4.text-center.position
              p 1
            .col-sm-4.text-center.name
              p _
            .col-sm-4.text-center.count
              p _

          .row.second-place.podium
            .col-sm-4.text-center.position
              p 2
            .col-sm-4.text-center.name
              p _
            .col-sm-4.text-center.count
              p _

          .row.third-place.podium
            .col-sm-4.text-center.position
              p 3
            .col-sm-4.text-center.name
              p _
            .col-sm-4.text-center.count
              p _

          .row.fourth-place.podium
            .col-sm-4.text-center.position
              p 4
            .col-sm-4.text-center.name
              p _
            .col-sm-4.text-center.count
              p _

  script(type='module', src='/javascripts/ranking.js')
