extends layout

block content
  link(rel='stylesheet', href='/stylesheets/stats.css')

  .row.content
      canvas#myChart
      .col-md-5
        h2.evolution-harcelement Evolution de l'harcèlement
        p.txt Ce graphique montre le nombre d'article parlant d'harcèlement dans le monde sur 5 ans 

  script(type='module', src='/javascripts/stats.js')
