#myChart{
    /* width:300px;
    height:300px; */
    margin-bottom: 45px;
}

.evolution-harcelement {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #1e2f4f;
    padding-bottom: 10px;
}

.txt{
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #747f92;
}

.content-stats {
    padding-top: 45px;
}

.content-stats h2 {
    border-left: solid 2px #007bff;
    padding-left: 10px;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 90px;
}